// Brands
$brand-primary: #7eb2d9;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

$brand-base-color: #bdbdbd;
$body-bg-color: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;


/*
 |----------------------------------------------------------------------------
 | METHODS
 |----------------------------------------------------------------------------
 |
 | How to use in other SCSS:
 |   .[classname] { @extend %[methodname] }
 |
 */

%clearfix {
  content: " ";
  clear: both;
  display: block;
}

%flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

/*
 |----------------------------------------------------------------------------
 | COLORS
 |----------------------------------------------------------------------------
 |
 | Base: https://material.io/guidelines/style/color.html
 | Brightness: 100
 |
 | How to use in other SCSS:
 |   .[classname] {
 |      color: $yellow;
 |    }
 */
$red        : #EF9A9A;
$pink       : #F48FB1;
$purple     : #CE93D8;
$deep-purple: #B39DDB;
$indigo     : #9FA8DA;
$blue       : #90CAF9;
$light-blue : #81D4FA;
$cyan       : #80DEEA;
$teal       : #A5D6A7;
$green      : #C5E1A5;
$light-green: #E6EE9C;
$lime       : #F0F4C3;
$yellow     : #FFF59D;
$amber      : #FFE082;
$orange     : #FFCC80;
$deep-orange: #FFAB91;
$brown      : #BCAAA4;
$gray       : #EEEEEE;
$blue-gray  : #B0BEC5;

$color-names: red, pink, purple, deep-purple, indigo, blue,
              light-blue, cyan, teal, green, light-green, lime,
              yellow, amber, orange, deep-orange, brown, gray, blue-gray, brand-base;

$color-values: $red, $pink, $purple, $deep-purple, $indigo, $blue,
               $light-blue, $cyan, $teal, $green, $light-green, $lime,
               $yellow, $amber, $orange, $deep-orange, $brown, $gray, $blue-gray, $brand-base-color;
